@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #202733;
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
}

section{
    margin: auto;
    background-color: #313A48;
    border-radius: 1rem;
    width: 80%;
    max-width: 540px;
    min-width: 340px;
}

.container{
    width: 100%;
    height: 80%;
    position: relative;
}

h1{
  text-align: center;
  font-size: 0.75rem;
  color:#53FFAA;
  padding:1rem 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

p{
  font-size: 1.7rem;
  color:#CEE3E9;
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.divider{
    padding:4rem 0 4rem 0rem;
    width: 90%;
    margin-left: 5%;    
}

.dice{
    background-color: #53FFAA;
    border-radius: 50%;
    width:4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -16%;
    left: 44%;
    cursor: pointer;
    box-shadow: 0 0 0px 0px;
}

.dice:hover{
    box-shadow: 0 0 30px 10px #53FFAA;
    transition: all 0.5s;
}

